#define IDD_DLG1 1000
#define IDC_EDT1 1001
#define IDC_BTN1 1002
#define IDC_EDT2 1004
#define IDC_EDT3 1003
#define IDC_STC1 1005
#define IDC_EDT4 1006
#define IDC_STC2 1007
#define IDC_EDT5 1008
#define IDC_BTN2 1009
#define IDC_BTN3 1010
#define IDC_EDT6 1011
#define IDC_EDT7 1012
#define IDC_STC3 1013
#define IDC_STC4 1014

#include "../../../masm32/include/resource.h"

IDD_DLG1 DIALOGEX 10,10,513,273
CAPTION "IDD_DLG"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_OVERLAPPEDWINDOW
BEGIN
  CONTROL "",IDC_EDT1,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|ES_MULTILINE,3,150,372,42,WS_EX_CLIENTEDGE
  CONTROL "编译源文件",IDC_BTN1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,387,150,123,42
  CONTROL "",IDC_EDT2,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,3,198,507,72,WS_EX_CLIENTEDGE
  CONTROL "",IDC_EDT3,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_MULTILINE,3,3,369,24,WS_EX_CLIENTEDGE
  CONTROL "汇编编译器路径",IDC_STC1,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,384,6,114,21
  CONTROL "",IDC_EDT4,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|ES_MULTILINE,3,30,369,33,WS_EX_CLIENTEDGE
  CONTROL "头文件路径",IDC_STC2,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,384,36,114,21
  CONTROL "",IDC_EDT5,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|ES_MULTILINE,3,111,372,36,WS_EX_CLIENTEDGE
  CONTROL "编译asm",IDC_BTN2,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,387,111,123,36
  CONTROL "重生成编译命令",IDC_BTN3,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,387,84,93,21
  CONTROL "",IDC_EDT6,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|ES_MULTILINE,3,66,303,21,WS_EX_CLIENTEDGE
  CONTROL "",IDC_EDT7,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|ES_MULTILINE,3,87,303,21,WS_EX_CLIENTEDGE
  CONTROL "汇编源文件",IDC_STC3,"Static",WS_CHILDWINDOW|WS_VISIBLE,312,69,54,21
  CONTROL "目标文件",IDC_STC4,"Static",WS_CHILDWINDOW|WS_VISIBLE,312,90,54,21
END

